Import all packages

In [16]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import os

import sklearn

Import train dataset

In [17]:
# import and show train dataset
train_dataset = pd.read_csv('train.csv')
train_dataset.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [29]:
# drop unimportant data: 'PassengerId', 'Name'
if 'PassengerId' and 'Name' in train_dataset:
    train_dataset.drop(['PassengerId', 'Name'], axis=1, inplace=True)

print('Dataset name : ' + os.path.split(os.getcwd())[-1] + ' (training)')
print('Dataset shape : ' + str(train_dataset.shape))
print(train_dataset.head())

Dataset name : spaceship-titanic (training)
Dataset shape : (8693, 12)
  HomePlanet CryoSleep  Cabin  Destination   Age    VIP  RoomService  \
0     Europa     False  B/0/P  TRAPPIST-1e  39.0  False          0.0
1      Earth     False  F/0/S  TRAPPIST-1e  24.0  False        109.0
2     Europa     False  A/0/S  TRAPPIST-1e  58.0   True         43.0
3     Europa     False  A/0/S  TRAPPIST-1e  33.0  False          0.0
4      Earth     False  F/1/S  TRAPPIST-1e  16.0  False        303.0

   FoodCourt  ShoppingMall     Spa  VRDeck  Transported
0        0.0           0.0     0.0     0.0        False
1        9.0          25.0   549.0    44.0         True
2     3576.0           0.0  6715.0    49.0        False
3     1283.0         371.0  3329.0   193.0        False
4       70.0         151.0   565.0     2.0         True

In [9]:
# check NaN existance on dataset
train_dataset.isna().sum().sort_values(ascending=False)

CryoSleep       217
ShoppingMall    208
VIP             203
HomePlanet      201
Cabin           199
VRDeck          188
FoodCourt       183
Spa             183
Destination     182
RoomService     181
Age             179
Transported       0
dtype: int64

In [ ]:
# fill NaN element on dataset with appropiate field

Import test dataset

In [ ]:
# import and show test dataset
test_dataset = pd.read_csv('test.csv')
test_dataset.head()

In [31]:
# drop unimportant data: 'PassengerId', 'Name'
if 'PassengerId' and 'Name' in test_dataset:
    test_dataset.drop(['PassengerId', 'Name'], axis=1, inplace=True)

print('Dataset name : ' + os.path.split(os.getcwd())[-1] + ' (training)')
print('Dataset shape : ' + str(test_dataset.shape))
print(test_dataset.head())

Dataset name : spaceship-titanic (training)
Dataset shape : (4277, 11)
  HomePlanet CryoSleep  Cabin  Destination   Age    VIP  RoomService  \
0      Earth      True  G/3/S  TRAPPIST-1e  27.0  False          0.0
1      Earth     False  F/4/S  TRAPPIST-1e  19.0  False          0.0
2     Europa      True  C/0/S  55 Cancri e  31.0  False          0.0
3     Europa     False  C/1/S  TRAPPIST-1e  38.0  False          0.0
4      Earth     False  F/5/S  TRAPPIST-1e  20.0  False         10.0

   FoodCourt  ShoppingMall     Spa  VRDeck
0        0.0           0.0     0.0     0.0
1        9.0           0.0  2823.0     0.0
2        0.0           0.0     0.0     0.0
3     6652.0           0.0   181.0   585.0
4        0.0         635.0     0.0     0.0

Concatenate dataset

Prepare for Training

Training process

Evaluation process

Submit the results